
.appointments > div:nth-child(2) {
  background: var(--fourthColor);
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: var(--mainShadow);
}
.appointments > div:nth-child(2) > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid var(--mainColorLight);
  transition:.5s;
}
.appointments > div:nth-child(2) > div:first-child > h2 {
  font-size: min(3vw, 25px);
  font-weight: 600;
}
.appointments > div:nth-child(2) > div:first-child > button {
  padding: 5px 7px;
  background: var(--mainColor);
  color: var(--fourthColor);
  font-weight: 500;
  border-radius: 5px;
  font-size: min(3vw, 20px);
}
.appointments > div:nth-child(2) > div:nth-child(2) {
  overflow-y: hidden;
  padding: .5rem;
}
.appointments > div:nth-child(2) > div:nth-child(2) > table {
  width: 100%;
  border-collapse: collapse;
  /* white-space:nowrap;  */
}
.appointments > div:nth-child(2) > div:nth-child(2) > table > thead {
  width: 100%;
}
.appointments > div:nth-child(2) > div:nth-child(2) > table tr {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointments > div:nth-child(2) > div:nth-child(2) > table > thead {
  background: var(--thirdColor);
}
.appointments
  > div:nth-child(2)
  > div:nth-child(2)
  > table
  > tbody
  > tr:not(:last-child) {
  border-bottom: 1px solid #ecf3fa;
}

.appointments > div:nth-child(2) > div:nth-child(2) > table > tbody > tr > td,
.appointments > div:nth-child(2) > div:nth-child(2) > table > thead > tr > th {
  padding: .5rem;
  display: flex;
  max-width: 100px;
  width: 100px;
  font-size: min(3vw,20px);
  justify-content:center;
  flex-direction:column;
  align-items:center;
}
.appointments > div:nth-child(2) > div:nth-child(2) > table > tbody > tr > td {
  color: #7e7e7e;
  gap:5px;
  white-space: nowrap;
  text-align: center;
  text-overflow:ellipsis;
  overflow: hidden;
}
.appointments
  > div:nth-child(2)
  > div:nth-child(2)
  > table
  > tbody
  > tr
  > td
  > button {
  color: var(--fourthColor);
  border-radius: 3px;
  padding:5px;
  font-size: var(2vw,18px);
  font-weight: 500;
  background-color: var(--secondColor);
  width:75px;
  display:flex; 
  align-items:center;
  justify-content:center;
}
.appointments
  > div:nth-child(2)
  > div:nth-child(2)
  > table
  > tbody
  > tr
  > td
  > button:last-child {
  background-color: var(--mainColor);
}

.changePageContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  font-size: min(3vw,20px);
  line-height: 30px;
  padding: .5rem;
  border-top: 1px solid var(--mainColorLight);
}

.pagination {
  display: flex;
  gap: 5px;
}

.page_item {
  transition: 0.35;
}
.page_item:active {
  scale: 0.95;
}

.page_link {
  background-color: #f0f0f0;
  padding: 3px;
  font-size: min(2vw,18px);
}
.active {
  background-color: var(--mainColor);
  color: white;
}
.non_active {
  pointer-events: none;
  opacity: 0.7;
}


@media (min-width:1045px){ 
  .appointments > div:nth-child(2) > div:first-child {
    padding:1.5rem; 
  }
  .appointments > div:nth-child(2) > div:first-child > button {
    padding: 7px 10px; 
  }
  .appointments > div:nth-child(2) > div:nth-child(2) {
    padding: 1.5rem;
  }
  .appointments > div:nth-child(2) > div:nth-child(2) > table > tbody > tr > td,
.appointments > div:nth-child(2) > div:nth-child(2) > table > thead > tr > th {


  max-width: 200px;
  width: 200px; 
  flex-direction:row;
}
.changePageContainer{ 
  padding:1.5rem;
}
}