.appointmentInfo {
}

.appointmentInfo > form {
  margin-top: 40px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background: var(--fourthColor);
  gap: 20px;
  border-radius: 7px;
  box-shadow: var(--mainShadow);
  transition: all 0.5 linear;
}

.appointmentInfo > form > h2 {
  padding: 1rem 0;
  font-size: min(4vw, 25px);
  font-weight: 600;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--mainColorLight);
}
.appointmentInfo > form > input,
.appointmentInfo > form > select {
  padding: 1.5rem;
  border: 1px solid var(--mainColorLight);
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}
.appointmentInfo > form > input::placeholder,.appointmentInfo > form > select::placeholder{ 
    color:#aaa;
}
.appointmentInfo > form > select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: calc(100% - 25px);
}
.appointmentInfo > form > select > option {
  padding: 1.5rem;
  font-weight: 400;
  color: #5f5f5f;
  cursor: pointer;
}

.appointmentInfo > form > input:focus,
.appointmentInfo > form > select:focus {
  outline: none;
  border-color: var(--mainColor);
}
.appointmentInfo > form > button {
  padding: 5px 7px;
  background: var(--mainColor);
  color: var(--fourthColor);
  font-weight: bold;
  align-self: flex-end;
  border-radius: 5px; 
  width:200px; 
  display:flex; 
  align-items:center;
  justify-content:center;
  font-size:min(3vw,20px);
}
