.card {
  width: 100%;
  background: var(--fourthColor);
  box-shadow: var(--mainShadow);
  border-radius: 10px;
  overflow: hidden;  
  position:relative;
}

.card > h3 {
  padding: 2rem;
  font-size: min(4vw, 25px);
  font-weight: bold;
  border-bottom: 1px solid var(--mainColorLight);
}
.card > div {
  padding: 2rem;
}
