.footer {
  width: 100%;
  padding: 20px 5px;
  text-align: center;
  background: var(--fourthColor);
  box-shadow: var(--mainShadow);
  font-size:min(3vw,20px);
}

.footer p {
  display: inline;
  color: var(--mainColor);
  font-weight: bold;
}
