.notification {
  background: var(--fourthColor);
  position: absolute;
  bottom: 0px;
  right: 50px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  transform: translateY(-40px);
  transition: all 0.5s linear;
}
.notification > div:first-child > h3 {
  background: #eee;
  font-size: min(4vw, 25px);
  letter-spacing: 1px;
  font-weight: 600;
  padding: 1.5rem;
}
.notification > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.notification > div:nth-child(2) > div {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--mainColorLight);
}
.notification > div:nth-child(2) > div > div:first-child {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--thirdColor);
}
.notification > div:nth-child(2) > div > div:first-child > img {
  object-fit: cover;
}
.notification > div:nth-child(2) > div > div:last-child {
  margin-left: 10px;
}
.notification > div:nth-child(2) > div > div:last-child > h3 {
  font-weight: 600;
  color: var(--mainColor);
  margin-bottom: 5px;
}
.notification > div:nth-child(2) > div > div:last-child p {
  color: #a0a0a0;
}
.notification > div:nth-child(2) > div > div:last-child > div {
  display: flex;
  justify-content: space-between;
}
