.pageTitle {
  width: 100%;
}
.pageTitle > h2 {
  width: 100%;
  color: var(--mainColor);
  font-weight: bold;
  font-size: min(4vw, 40px);
}
.pageTitle > p {
  width: 100%;
  color: #aaa;
  font-size:min(3vw,20px);
}
