@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;

  /* outline:1px solid red;  */
} 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --mainColor: #7366ff;
  --mainColorLight: #eae8ff;
  --secondColor: #dc3545;
  --secondColorLight: #fee0e8;
  --thirdColor: #f8f8f8;
  --fourthColor: #fff;
  --mainShadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #f8f8f8;
  position:relative;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/* custom scrol bar  */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* global classes   */

.container {
  min-width: 100%;
  padding: 170px 2rem;
  min-height:100vh; 
  
}

@media (min-width: 1045px) {
  .container {
    padding-left: 140px;
  }
}
